{% extends 'base.html.twig' %}

{% block title %}Créer un nouvel article{% endblock %}

{% block stylesheets %}
    <link href="{{ asset("bundles/kmsfroalaeditor/froala_editor/css/froala_editor.pkgd.min.css") }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Créer un nouvel article</h1>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {{ include('admin_articles/_form.html.twig', {form: form, button: 'Enregistrer'}) }}
    </div>
{% endblock %}
